{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],
  "ignorePatterns": ["**/webpack/*.js", "**/node_modules", "**/build"],
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}